@import "tailwindcss";

@theme {
  --color-DarkBlue:#172590;
  --color-darkBlue-2:#0050FF;
  --color-softBlack:#393939;
  --color-lightgreen:#239227;
  --color-DarkGray:#8E8E8E;
  --color-white:#FFFFFF;
  --color-Black:#000000;
  --color-LogoBlue:#012E4D;
  --color-Darkred:#CB243E;
  --color-veryLightgray:#FAF9F9;
  --color-lightgray:#EDEDED;
  --color-softgray:#E3E3E3;
}


button,
a,
[role="button"],
.cursor-click {
  cursor: pointer;
}